:root {
    --darkblue: #000F4E;
    --charcoal: #36454F;
    --lightcharcoal: #B3B9BC;
    --darkcharcoal: #1A252C;
}

html {
    overflow-x: hidden;
}

/* NAVBAR BEGINS */
.social-bar {
    /* Social media icons */
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
}

.navbar {
    font-family: 'Zenzai Itachi';
    font-weight: normal;
    font-style: normal;
    font-size: 1.7rem;
    font-weight: bold;
    opacity: 0%;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 1px 1px 3px black;
}

.brand-img-box {
    height: 100%;
    margin: 0;
    padding: 0;
}

.brand-img {
    height: 70px;
    width: auto;
}

.navbar.scrolled {
    opacity: 100%;
    transition: linear 250ms;
}

.navbar-color {
    background-color: white;
}

.nav-link {
    color: var(--darkcharcoal)!important;
    text-shadow: .25px .25px 0 var(--lightcharcoal);
    z-index: 2;
    margin-top: .5rem;
    background-color: transparent;
}

.nav-link:hover {
    color: #C70039!important;
    transition: ease 250ms;
    box-shadow: 0 3px 0 #C70039;
}

.social-button {
    color: var(--darkcharcoal)!important;
    font-size: 1.1rem;
}

.social-button:hover {
    color: #C70039;
    transition: ease 250ms;
    box-shadow: none!important;
}
/* NAVBAR ENDS */

/* WELCOME BANNER BEGINS */
.welcome-banner {
    background-image: url("./imgs/Character-imgs/fight.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.banner-logo {
    width: 30vw;
}

.banner-img {
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
/* WELCOME BANNER ENDS */

/* PFP BANNER BEGINS */

.pfp-title {
    font-family: 'Zenzai Itachi';
    font-weight: normal;
    font-style: normal;
    font-size: 1.7rem;
    font-weight: bold;
    font-size: 4rem;
    /*font-family: 'Comic Neue', cursive;*/
    /*font-weight: 700;*/
    /*font-style: italic;*/
    /*font-size: 2.5rem;*/
}

.pfp-banner {
    width: 100%;
    min-height: 25rem;
}

.pfp-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 20rem;
    border: 2px solid var(--darkcharcoal);
    box-shadow: 1px 1px 0 var(--darkcharcoal);
}

.pfp-kiki {
    background-image: url("./imgs/pfp-imgs/kiki_demo_samor.png");
    background-position: center;
    background-size: cover;
}

.pfp-v {
    background-image: url("./imgs/pfp-imgs/V_demo_lotus.png");
    background-position: center;
    background-size: cover;
}

.pfp-ghesi {
    background-image: url("./imgs/pfp-imgs/Ghesi_demo_black.png");
    background-position: center;
    background-size: cover;
}

.pfp-dorian {
    background-image: url("./imgs/pfp-imgs/Dorian_demo_purpbl.png");
    background-position: center;
    background-size: cover;
}

/*.pfp-title {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    font-family: "Zenzai Itache";*/
/*    text-align: center;*/
/*    text-shadow: 1px 1px 1px #C70039;*/
/*}*/

/*.pfp-title h2 {*/
/*    font-size: 4.25rem;*/
/*    transform: translateY(35%);*/
/*}*/

hr.underline {
    margin: 0!important;
    border: 0;
    height: 2px;
    width: 25%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
}


/* PFP BANNER ENDS */

/* ABOUT BEGINS */
.about {
    position: relative;
    min-height: 30rem;
}

.about-panel {
    height: 100%;
    width: 100%;
}

.about-artwork-kiki {
    position: absolute;
    background-color: transparent;
    bottom: -25%;
    left: -15%;
    opacity: 0;
}

.burning {
    background-image: url("./imgs/Character-imgs/fight.jpg");
    background-position: center;
    background-size: cover;
}

.about-artwork-v {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    right: 0;
}

.about-artwork-kiki.scrolled {
    opacity: 100%;
    bottom: 0;
    transition: 250ms ease-in;
}

.text-container {
    position: relative;
    max-width: 35rem;
    color: var(--darkcharcoal);
}

.about-text-title {
    transform: translateY(20%);
    font-family: 'Zenzai Itachi';
    text-shadow: 1px 1px 1px var(--charcoal);
    text-align: center;
    font-size: 5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.about-text-box {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 1.35rem;
    margin: 1rem 0 1rem .25rem;
    text-shadow: .5px .5px 1px var(--darkcharcoal);
}

hr.style14 {
    border: 0;
    margin: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/* ABOUT ENDS */

/* OVERVIEW PANEL BEGINS */
.overview {
    position: relative;
    min-height: 15rem;
    width: 85%;
}

.promo {
    transform: translateY(-10%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15rem;
    width: 20rem;
    background-color: white;
    box-shadow: 1px 1px 0px black;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Zenzai Itachi';
    font-size: 72px;
    text-shadow: 1px 1px 0 var(--lightcharcoal);
}

.kick {
    background-image: url("./imgs/Character-imgs/kiki_kick.jpg");
}
/* OVERVIEW PANEL ENDS */

/* CHARACTER PANEL BEGINS */

.showcase-wrapper {
    overflow: hidden;
}

.character-sheet {
    min-height: 35rem;
    position: relative;
    width: 100%;
}

.character-select-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}

.character-select-panel {
    width: 100%;
}

.character-card {
    height: 25rem;
    width: 5rem;
    border: 2px solid black;
    background-color: white;
}

.ghesi-select {
    background-image: url("./imgs/Character-imgs/character_select/ghesi_select.png");
    background-size: cover;
    background-position: right;
}

.kiki-select {
    background-image: url("./imgs/Character-imgs/character_select/kiki_select.png");
    background-size: cover;
    background-position: center;
}

.v-select {
    background-image: url("./imgs/Character-imgs/character_select/v_select.png");
    background-size: cover;
    background-position: center;
}

.dorian-select {
    background-image: url("./imgs/Character-imgs/character_select/dorian_select.png");
    background-size: cover;
    background-position: center;
}

.character-showcase-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.kiki-showcase {
    transform: translateX(30%);
    opacity: 0;

}

.v-showcase {
    transform: translateX(35%);
    opacity: 0;
}

.ghesi-showcase {
    transform: translateX(25%);
    opacity: 0;
}

.dorian-showcase {
    transform: translateX(25%);
    opacity: 0;
}

.character-name {
    position: absolute;
    font-family: 'Zenzai Itache';
    font-weight: normal;
    font-style: normal;
    font-size: 8rem;
    bottom: 60%;
    right: 35%;
    transform: translateX(-50%);
}

.kiki-title {
    opacity: 0;
    text-shadow: 1px 1px 1px #FF3131;
}

.v-title {
    opacity: 0;
    text-shadow: 1px 1px 1px #00CAB1;
    bottom: 40%;
}

.ghesi-title {
    opacity: 0;
    text-shadow: 1px 1px 1px #B026FF;
}

.dorian-title {
    opacity: 0;
    text-shadow: 1px 1px 1px #B026FF;
}

.character-select-img-wide {
    visibility: hidden;
}

.character-card:hover {
    transform: translate(-2%, -3%);
    box-shadow: 4px 4px 1px black;
    transition: 150ms linear;
    z-index: 10;
    border: 1px solid black;
}

.v-select:hover ~ .v-title {
    opacity: 100%;
    transition: 200ms linear;
}

.kiki-select:hover ~ .kiki-title {
    opacity: 100%;
    transition: 200ms linear;
}

.ghesi-select:hover ~ .ghesi-title {
    opacity: 100%;
    transition: 200ms linear;
}

.dorian-select:hover ~ .dorian-title {
    opacity: 100%;
    transition: 200ms linear;
}

.kiki-select:hover ~ .kiki-showcase {
    opacity: 100%;
    transition: 200ms linear;
}

.v-select:hover ~ .v-showcase {
    opacity: 100%;
    transition: 200ms linear;
}

.ghesi-select:hover ~ .ghesi-showcase {
    opacity: 100%;
    transition: 200ms linear;
}

.dorian-select:hover ~ .dorian-showcase {
    opacity: 100%;
    transition: 200ms linear;
}

/* CHARACTER PANEL ENDS */

/* ROADMAP BEGINS */

.roadmap-title {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid var(--darkcharcoal);
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid var(--darkcharcoal);
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px .5px var(--darkcharcoal);
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px .5px var(--darkcharcoal);
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    font-family: "Comic Neue", cursive;
    font-style: italic;
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
/* ROADMAP ENDS */

/* SALE BEGINS */

.sale {
    height: 100%;
    background-image: url("./imgs/Banner-imgs/v_fight_transparent.png");
    background-position: center;
    background-size: cover;
}

.sale-title {
    text-shadow: 2px 2px 0 var(--lightcharcoal)!important;
}

.card {
    border: 1px solid var(--darkcharcoal)!important;
    border-radius: 0;
    box-shadow: 1px 1px 0 var(--darkcharcoal);
    font-family: "Comic Neue", cursive;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

.card-img {
    user-select: none!important;
    -webkit-user-drag: none!important;
}

.card-title {
    font-weight: bold;
    font-style: italic;
    text-shadow: .5px .5px 0 black;
    font-size: 1.25rem;
}

.card-text {
    font-weight: bold;
    font-style: italic;
}

ul.card-text {
    list-style-type: none;
    padding: 0;
}

.card-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 10px;
    left: 0;
    -webkit-user-drag: none;
    user-select: none;
}

.fa-check {
    color: #C70039;
    text-shadow: .5px .5px 0 var(--darkcharcoal);
}

.fa-times {
    text-shadow: .5px .5px 0 var(--charcoal);
}

.btn-primary {
    background-color: var(--darkcharcoal)!important;
    color: var(--lightcharcoal)!important;
    border: 1px solid var(--darkcharcoal)!important;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #C70039!important;
    color: var(--darkcharcoal)!important;
}

.hidden-li {
    opacity: 0%;
}
/* SALE ENDS */

/* FAQ BEGINS */
.faq {
}

.accordion-button:focus {
    background-color: #36454F50!important;
    box-shadow: 0 0 0 .25rem #1A252C80!important;
}

.accordion-button:not(.collapsed) {
    background-color: #36454F50!important;
    color: var(--darkcharcoal);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-header {
    font-family: 'Comic Neue', cursive;
}

.accordion-button {
    font-size: 1.3rem!important;
    font-weight: bold;
    font-style: italic;
    color: var(--darkcharcoal)!important;
}

.accordion-body {
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 1.15rem;
}

/* FAQ ENDS */

/* FOOTER BEGINS */
footer {
    background-color: white;
    height: 10rem;
}

footer .row {
    width: 100%;
    height: 100%;
}

.footer-copyright {
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    font-style: italic;
    color: var(--lightcharcoal);
}
/* FOOTER ENDS */

/* MISC. STYLING BEGINS */
hr.section-break {
    z-index: -20!important;
    margin: 0!important;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #36454F, #f0f0f0);
}

.char-test-title {
    font-family: 'Zenzai Itache';
    font-weight: normal;
    font-style: normal;
    font-size: 128px;
}

.v {
    text-shadow: 1px 1px 1px #00CAB1;
}

.kiki{
    text-shadow: 1px 1px 1px #C70039;
}

.bozod {
    text-shadow: 1px 1px 1px #B026FF;
}
/* MISC. STYLING ENDS */


/* TODOS
 * Work on banner-logo screen breaks - looks awkward right now at certain sizes
 */

@media only screen and (max-width: 1400px) {
    .character-name {
        font-size: 8rem;
        bottom: 60%;
        right: 20%;
        transform: translateX(-50%);
    }

    .kiki-title {
        right: 35%!important;
    }
}

@media only screen and (max-width: 1275px) {

    .banner-logo {
        width: 35vw;
    }

    .about-artwork-kiki {
        opacity: 50%!important;
    }

    .about-artwork-v {
        opacity: 50%!important;
    }

    /* Temporary solution to the odd mobile scaling happening with the about pic */
    .about {
        overflow-x: hidden;
    }

    .about-artwork.scrolled {
        opacity: 50%;
    }

    .promo {
        max-width: 17rem;
    }

    .character-card {
        background-image: none;
        position: relative;
        height: 5rem;
        width: 18rem;
        overflow: hidden;
    }

    .tiny-kiki {
        background-image: url("./imgs/Character-imgs/character_select/kiki_tiny.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .tiny-v {
        background-image: url("./imgs/Character-imgs/character_select/v_tiny.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .tiny-ghesi {
        background-image: url("./imgs/Character-imgs/character_select/ghesi_tiny.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .tiny-dorian {
        background-image: url("./imgs/Character-imgs/character_select/dorian_tiny.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .character-name {
        opacity: 100%;
        font-size: 4rem;
        position: absolute;
        bottom: 0;
        transform: translateY(25%);
        left: 10px;
    }

    .character-select-img-wide {
        /* WIDE IMAGE GOES HERE */
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
    }

    .character-select-panel {
        justify-content: center!important;
    }

    .showcase-title {
        visibility: hidden;
    }

    .kiki-title {
        right: 35%!important;
    }
}

@media only screen and (max-width: 768px) {

    .banner-logo {
        width: 70vw;
    }

    .about-artwork.scrolled {
        opacity: 40%;
    }

    .overview {
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
    }

    .promo {
        transform: translateY(0);
        width: 25rem;
        margin: 1rem;
    }

    .pfp-demo {
        height: 27rem;
        width: 18rem;
    }
}